#scrollable-content {
    height: 500px;
    overflow: auto;
    background-color: blue;
}


.taskCard{

    transition: box-shadow 0.9s ease;
}

.taskCard :hover{
    box-shadow: beige;
    
}

.strikethrough {
    text-decoration: line-through;
  }
